<h1>New Article</h1>

<!-- The form_with helper method instantiates a form builder.
In the form_with block, call methods like label and text_field
on the form builder to output the appropriate form elements.
-->
<%= form_with model: @article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>